 /* Global CONSTANTS */

$font-size:12px;
$text-color: #424242;
$accent-color: #CD5C5C;
$hero-size: 45px;
$card-color: white;


/* styles */

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    //font-family: "Open Sans" sans-serif;
    font-size: $font-size;
    color: $text-color;
}

.icon-theme {
    color: $accent-color;
}
.icon-theme-inverse {
    color: white;
}