 /* Global level variables */
$font-size:16px;
$text-color: #fff;
$accent-color: darkturquoise;
$secondary-color: #fff;
$hero-size: 45px;


/* Global Styles */

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    color: $text-color;
}
